/* Write your CSS here */
.image {
  width: 250px;
  height: 150px;
}
.destination-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.image-name {
  color: #252627;
}
